apitist==4.3.0
async-generator==1.10
attrs==21.4.0
cattrs==1.1.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
convclasses==2.0.0
cryptography==36.0.2
cssselect==1.1.0
exceptiongroup==1.0.0rc9
execnet==1.9.0
filelock==3.7.1
h11==0.13.0
idna==3.3
iniconfig==1.1.1
lxml==4.9.1
outcome==1.1.0
packaging==21.3
pendulum==2.1.2
pluggy==1.0.0
psycopg2==2.9.3
py==1.11.0
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.6
PySocks==1.7.1
pytest==6.2.5
pytest-forked==1.4.0
pytest-xdist==2.5.0
python-dateutil==2.8.2
pytzdata==2020.1
qase-pytest==2.3.2
qaseio==2.2.4
requests==2.27.1
selenium==4.1.0
six==1.16.0
smart-assertions==1.0.2
sniffio==1.2.0
sortedcontainers==2.4.0
toml==0.10.2
tomli==2.0.1
trio==0.20.0
trio-websocket==0.9.2
urllib3==1.26.8
urllib3-secure-extra==0.1.0
wsproto==1.1.0
